<h1>Listing pages<%= " under #{@parent.title}" unless @parent.nil? %></h1>

<ul class="choices">
<% if !@parent.nil? and @parent.lock_level < Page::LOCK_LEVEL_SUBPAGE -%>
  <li><%= link_to 'New page', new_admin_page_page_path(@parent), :class => 'button', :title =>  "Add a sub-page under #{@parent.title}" %></li>
<% elsif @parent.nil? and Page.allow_new_roots?  %>
  <li><%= link_to 'New page', new_admin_page_path, :class => 'button', :title => "Add new page" %></li>
<% end -%>
<% if !@parent.nil? and @parent.parent.nil? %>
  <li><%= link_to "All top pages", admin_pages_path(), :class => "up button", :title => "View the top (root) pages" %></li>
<% elsif !@parent.nil?  %>
  <li><%= link_to "Up to #{@parent.parent.title}", admin_page_pages_path(@parent.parent), :class => "up button", :title => 'View pages above these pages' %></li>
<% end %>
</ul>

<table class="featurable">
  <thead>
    <tr>
      <th>Title</th>
      <th># Sub Pages</th>
      <th>Status</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Updated</th>
      <th>Created</th>
      <th>Published At</th>
      <th>Published To</th>
      <th colspan="7">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @pages, :locals => { :level => 0 } %>
  </tbody>
  <tfoot>
    <tr>
      <th>Title</th>
      <th># Sub Pages</th>
      <th>Status</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Updated</th>
      <th>Created</th>
      <th>Published At</th>
      <th>Published To</th>
      <th colspan="7">Actions</th>
    </tr>
  </tfoot>
</table>

