<h1>Listing pages<%= " under #{@parent.title}" unless @parent.nil? %></h1>

<ul class="choices">
<% unless @parent.nil? %>
  <%= "<li>#{link_to 'New page', new_admin_page_page_path(@parent), :class => 'button', :title => "Add a sub-page under #{@parent.title}"}</li>" unless  @parent.lock_level >= Page::LOCK_LEVEL_SUBPAGE %>
<%   if @parent.parent.nil? %>
  <li><%= link_to "All top pages", admin_pages_path(), :class => "up button" %></li>
<%   else %>
  <li><%= link_to "Up to #{@parent.parent.title}", admin_page_pages_path(@parent.parent), :class => "up button" %></li>
<%   end %>
<% end %>
</ul>  

<%= hidden_field_tag 'form_authenticity_token', "#{form_authenticity_token}" %> 

<table class="featurable">
  <thead>
    <tr>
      <th>Title</th>
      <th># Sub Pages</th>
      <th>Status</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Published At</th>
      <th>Published To</th>
      <th colspan="7">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @pages, :locals => { :level => 0 } %>
  </tbody>
  <tfoot>
    <tr>
      <th>Title</th>
      <th># Sub Pages</th>
      <th>Status</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Published At</th>
      <th>Published To</th>
      <th colspan="7">Actions</th>
    </tr>
  </tfoot>
</table>

