<% @page_id = @page.root.permalink if @page %>

<h1><%= link_to_unless_current h(@page.root.title), page_path(@page.root.permalink) %></h1>

<div id="main-content">
  <h2><%= @page.title %></h2>

  <%= @page.body %>
  
  <% unless @documents.empty? %>
    <h3 class="hidden">Document Download</h3>
    <%= documents @documents %>
  <% end -%>

  <% unless @images.empty? %>
    <h3 class="hidden">Gallery</h3>
    <div id="gallery">
      <div class="image-gallery">
        <%= gallery @images %>
      </div>
    </div>
  <% end -%>

</div><!-- eo: main -->

<div id="supporting-content">
  <div id="page-nav">
    <ul class="sub-page-nav">
    <%= render :partial => 'page_nav', :collection => @page.root.children.published %>
    </ul>
  </div>
</div>
